---
---

@import "{{ site.theme }}";

body {
  background-color: #212129;
  color: #ffffff;
}

.main-content {
  background-color: #1d1d24; 
}

.page-header {
  margin-top: 40px;
  height: 422px;
  background-image: url("https://i.imgur.com/XmiigWx.png");
  background-repeat: no-repeat;
  background-size: 1023px;
  background-position: center top;
  background-color: rgba(0,0,0,0);
}

.project-name {
  //background-image: url("https://i.imgur.com/LVwk1L4.png");
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #1d1d24;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}

/* Change background on mouse-over */
.navbar a:hover {
  /*background: #ddd;
  color: black;*/
  opacity: 1;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #d4ac0a;
}
