---
---

@import "{{ site.theme }}";

body {
  background-color: #212129;
  color: #ffffff;
}

.main-content {
  background-color: #1d1d24; 
}

.page-header {
  margin-top: 40px;
  height: 422px;
  background-image: url("https://i.imgur.com/XmiigWx.png");
  background-repeat: no-repeat;
  background-size: 1023px;
  background-position: center top;
  background-color: rgba(0,0,0,0);
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #1d1d24;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}

/* Change background on mouse-over */
.navbar a:hover {
  /*background: #ddd;
  color: black;*/
  opacity: 1;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #d4ac0a;
}
